**.Rproj.user
**.Rhistory
**.RData
**.Ruserdata
**.DS_Store
.ipynb_checkpoints
*/.ipynb_checkpoints/*

Python/chp10/labs/book_images/.RDataTmp

All\ _Figures/
R/
Python/chp4/
Python/chp5/lesson_examples
